/* importando la fuente de familia */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap');

/* creando las variables */
:root{

    /* primaries */
    --clr-primary: #5bdbf1;
    --clr-primary-hover: #40a1b3;
    --clr-font-cyan: #24c0db85;
    --clr-font-cyan2: #33d4f0bd;
    --clr-font-desc: #8C949F;
    --clr-font-gray: #948e8e7e;
    --clr-white: #f9f9ff;
    --clr-spotify: #23a95f;
    --bg-card-tech: #2bd1ee21;
    --bg-line-header: #3adffc57;
    --bg-line-header-hover: #3adffcb0;
    --bg-luminosity: #1aadc748;

    /* theme-light */
    --bg-lt: #fcfcfb; 
    --clr-font-light: #2b2929fb;
    --bg-form-light: #fcfcfb36;
    --bg-outline-light: #cce9f53f;
    --bg-card-pro-lt: #ccc8c834;  
    --bg-navbar-mobile-lt: #dff4fd;

    /* theme-dark */
    --bg-dk: #110b2c;
    --clr-font-dark: #cbd6e0;
    --bg-form-dark: #0b1d4656;
    --bg-outline-dark: #08071823;
    --bg-card-pro-dk: #314e5531;  
    --bg-icon-btn: #02060767;
    --bg-navbar-mobile-dk: #04040a;

    /* linear-gradient-light */
    --linear-gradient-lt: #25bad473 ,#09a7f0;

    /* linear-gradient-dark */
    --linear-gradient-dk: #61edf7 ,#00ffdd;

    /* shadow */
    --shadow: 0px 2px 10px rgba(0, 0, 0, .18);
    --shadow-card: 0px 0px 5px rgba(0, 0, 0, 0.158);

    /* input-light */
    --clr-input-lt: #07172bc5;
    --hover-input-lt: #0b366e23;
    --focus-input-lt: #07264e2d;
    --clr-border-input-lt: #cac7c79a;
    
    /* input-dark */
    --clr-input-dk: #7b838f;
    --hover-input-dk: #112c50;
    --focus-input-dk: #0e2544e1;
    --clr-border-input-dk: #3adffc6b;
    
    /* border */
    --border: .5em;
    --clr-dashed-border-lt: #66666646;
    --clr-dashed-border-dk: #3adffc6b;

    /* selection */
    --bg-selection: #2bd1ee48;
    --clr-selection: #24d5f0;

    /* scrollbar */
    --bg-scrollbar: #e4e3e7;

    /* scrollbar-thumb */
    --bg-scrollbar-thumb: #5bdbf1;
    --bg-scrollbar-thumb-hover: #46b6ca;

    /* transition */
    --trans-ms3: .3s;
    --trans-ms5: .5s;

    /* cursor */
    --cursor: pointer;

    /* cursor-track */
    --bg-cursor-track-lt: #7ba5e442;
    --bg-cursor-track-dk: #082755;

    /* bubble */
    --bg-bubble-lt: #00aeff46, #5217da96;
    --bg-bubble-dk: #1a6292, #39226e;
}

*{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

:is(a, button, i):hover{
    cursor: url('assets/icons/Mickey-Mouse-cursor.cur'), pointer;
    transition: var(--trans-ms3);
}

i{
    font-size: 1.4em;
}

i:hover{
    color: var(--clr-primary);
}

html{
    scroll-behavior: smooth;   
}

::selection{
    background-color: var(--bg-selection);
    color: var(--clr-selection);
}

::-webkit-scrollbar{
    background-color: var(--bg-scrollbar);
    width: .65em;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bg-scrollbar-thumb);
    border-radius: var(--border);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--bg-scrollbar-thumb-hover);
}

/* app-container */
.app-container{
    color: var(--clr-font-light);
    background-color: var(--bg-lt);
    display: flex;
    transition: var(--trans-ms3);
}

.appDark{
    color: var(--clr-font-dark);
    background-color: var(--bg-dk);
}

:is(.header-wrapper, .content-wrapper){
    flex: 1;
    z-index: 100;
}

.header-wrapper{
    z-index: 200;
}

.port-header-wrapper{
    padding-left: 16.5em;
}

:is(
    .port-hero-wrapper, 
    .port-about-content-wrapper, 
    .port-proyects-wrapper, 
    .port-challenges-wrapper, 
    .port-form-wrapper,
    .port-footer-wrapper
){
    padding-left: 1em;
    padding-right: 16.5em;
}

/* cursor-track */
.cursor-track{
    width: 35em;
    height: 35em;
    position: fixed;
    border-radius: 100vmax;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    background-color: var(--bg-cursor-track-lt);
}

.cursorTrackDark{
    background-color: var(--bg-cursor-track-dk);
}

.bubbles-wrapper{
    display: flex;
    flex-direction: column;
}

:is(.back-bubble, .back-bubble2){
    position: fixed;
    border-radius: 100vmax;
    filter: blur(80px);
    background-image: linear-gradient(to right, var(--bg-bubble-lt));
    display: none;
}

.back-bubble{
    right: 100px;
    width: 15em;
    height: 40em;
    transform: rotate(-50deg);
}

.back-bubble2{
    left: 20px;
    bottom: 50px;
    width: 18em;
    height: 18em;
}

.backBubbleDark{
    background-color: var(--bg-bubble-dk);
}

/* port-header-wrapper */
.port-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--bg-outline-light);
    border-right: 1px solid var(--clr-primary);
    padding-block: 5em;    
    transition: var(--trans-ms3);
}

.header-dark{
    background-color: var(--bg-outline-dark);
}

.port-header-top{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/* port-logo ==> port-header-wrapper */
.port-logo{
    display: flex;
    align-items: center;
}

/* port-logo-name ==> port-logo ==> port-header-wrapper */
.port-logo-name{
    font-size: 2.4em;
    font-weight: 800;
    line-height: 1;
}

/* port-logo-image ==> port-logo ==> port-header-wrapper */
.port-logo-image{
    width: 1em;
    margin-left: .30em;
    animation: loading 1.4s ease infinite;
}

/* keyframes (loading) */
@keyframes loading {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

.port-logo-desc{
    background-image: linear-gradient(45deg, var(--linear-gradient-lt));
    background-size: 150% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.3em;
    margin-top: .2em;
    margin-bottom: .3em;
}

.portLogoDescDark{
    background-image: linear-gradient(45deg, var(--linear-gradient-dk));
}

.port-logo-desc2{
    font-size: 1.1em;
    font-weight: 500;
}

.portLogoDesc2Dark{
    color: var(--clr-font-desc);
}

/* .port-navbar-list ==> port-navbar-wrapper ==> port-header-wrapper */
.port-navbar-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .8em;
}

.port-navbar-link{
    display: flex;
    align-items: center;
    gap: .5em;
    transition: var(--trans-ms3);
}

.navbarLinksDark{
    color: var(--clr-font-desc);
}

.port-navbar-link::before{
    content: '';
    background-color: var(--bg-line-header);
    padding: 1px 18px;
    transition: .15s;
}

.port-navbar-item:hover .port-navbar-link::before{
    padding: 1px 30px;
    background-color: var(--bg-line-header-hover);
}

.port-navbar-content{
    font-size: 1.15em;
    font-weight: 500;
    transition: .2s;
}

.port-navbar-item:hover .port-navbar-content{
    color: var(--clr-primary);
}

.port-navbar-content::before{
    content: attr(data-first-letter);
    color: var(--clr-primary);
    transition: .2s;
}

.port-navbar-item:hover .port-navbar-content::before{
    color: var(--clr-font-light);
}

.port-navbar-item:hover .portNavbarContentDark::before{
    color: var(--clr-font-dark);
}

.listMobile{
    display: none;
}

.port-navbar-mobile{
    display: none;
}

.port-widgets-wrapper{
    display: flex;
    align-items: center;
    gap: .8em;
}

:is(.iconTheme, .iconGithub){
    font-size: 1.4em;
}

.iconNavbarDark{
    color: var(--clr-font-dark);
}

:is(.iconTheme, .iconGithub):hover{
    color: var(--clr-primary);
}

/* port-content-container */
.port-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* port-hero-wrapper */
.port-hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-block: 5em;
}

.port-hero-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

:is(.hero-me-content){
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.15;
}

.hero-me-greeting{
    display: inline-block;
    font-size: 1.45em;
    animation: greetingAnimated 2.3s ease-in infinite;
}

@keyframes greetingAnimated {
    0% {
        transform: rotate( 0.0deg);
    }
    10% {
        transform: rotate(14.0deg);
    }
    20% {
        transform: rotate(-8.0deg);
    }
    30% {
        transform: rotate(14.0deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10.0deg);
    }
    60% {
        transform: rotate( 0.0deg);
    }
    100% {
        transform: rotate( 0.0deg);
    }
}

.subtitle-front{
    background-image: linear-gradient(45deg, var(--linear-gradient-lt));
    background-size: 150% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5em;
    font-weight: 700;
}

.subtitleFrontDark{    
    background-image: linear-gradient(45deg, var(--linear-gradient-dk));
}

.description{
    font-size: 1.25em;
}

.desc-dedicate{
    color: var(--clr-primary);
}

.hero-img-water-animated{
    border: 7px solid var(--clr-primary);
    animation: waterAnimated 3s ease-in-out infinite alternate;
    overflow: hidden;
    flex: 1;
}

@keyframes waterAnimated {
    from{
        border-top-left-radius: 10.86em;
        border-top-right-radius: 8.7878em;
        border-bottom-left-radius: 12em;
        border-bottom-right-radius: 11.4555em;
    }

    to{
        border-top-left-radius: 9.8em;
        border-top-right-radius: 10.5em;
        border-bottom-left-radius: 14em;
        border-bottom-right-radius: 11em;
    }
}

.hero-img-wrapper{
    background-image: url(assets/imgs/avatar.jfif);
    height: 20em;
    width: 20em;
    background-size: cover;
}

.iconArrow{
    font-size: 2.4em;
    color: var(--clr-primary);
}

.iconArrow:hover{
    font-size: 2.4em;
    color: var(--clr-primary-hover);
}

.port-about-content-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
}

/* port-aboutMe-wrapper */

/* about-title */
.about-title{
    font-size: 1.7em;
}

.about-title-point{
    color: var(--clr-primary);
}

.about-content{
    margin-top: .5em;
    width: 80%;
    color: var(--clr-font-desc);
}

:is(.about-content-live-presentation, .about-content-live-focused){
    font-weight: 500;
}

.about-content-live-focused{
    margin-top: .3em;
}

:is(.presentation-name, .presentation-autodidact){
    color: var(--clr-primary);
}

.about-certifications-wrapper{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-top: 1.5em;
}

.about-certificate-title{
    font-size: 1.2em;
    margin-bottom: .4em;
}

.about-certificate-img{
    width: 30em;
    border-radius: .5em;
    box-shadow: var(--shadow);
}

/* port-tech-wrapper */
.port-tech-wrapper{
    margin-top: 5em;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

/* port-tech-title */
.port-tech-title{
    font-size: 1.2em;
    color: var(--clr-font-cyan);
}

/* tech-imgs-wrapper */
.tech-imgs-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tech-img-target{
    background-color: var(--bg-card-tech);
    display: flex;
    align-items: center;
    gap: .4em;
    border-radius: .25em;
    padding: .25em .55em;
}

.tech-img{
    width: 1.8em;
}

.tech-imgs-span{
    font-size: .95em;
}

/* port-proyects-wrapper ==> renders the projects component */

.port-proyects-wrapper{
    padding-top: 5em;
}

/* port-proyects-title ==> title component proyects */
.port-proyects-desc{
    margin: .2em 0 .8em;
    color: var(--clr-font-desc);
    font-weight: 500;
}

/* port-proyects-list ==> contains all cards(grid) */
:is(.port-proyects-list, .port-challenges-list){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

/* proyect-item == card item */
.proyect-item{
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proyect-item:hover{
    box-shadow: var(--shadow-card);
    background-color: var(--bg-card-pro-lt);
}

.proyectItemDark:hover{
    background-color: var(--bg-card-pro-dk);
}

.proyect-img-wrapper{
    background-color: var(--bg-luminosity);
    position: relative;
    overflow: hidden;
}

.proyect-img{
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    object-fit: cover;
    transition: var(--trans-ms3);
}

.proyect-img-title-wrapper{
    position: absolute;
    background-color: #010a16e1;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--trans-ms3);
    padding-inline: 1em;
    transform: scale(0);
    transform-origin: bottom center;
    font-size: .95em;
    color: var(--clr-font-desc);
}

.proyect-img-title-wrapper::after{
    content: attr(data-desc);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    color: var(--clr-font-desc);
}

.proyect-img-wrapper:hover > .proyect-img {
    transform: scale(1.2);
}

.proyect-img-wrapper:hover > .proyect-img-title-wrapper{
    transform: scale(1);
}

.proyect-item-desc-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

:is(.proyect-item-content, .proyect-item-tech, .proyect-icon-wrapper){
    padding: .5em 1em;
}

.proyect-item-content{
    padding-top: 1em;
}

/* proyect-item-title */
.proyect-item-title{
    color: var(--clr-primary);
    font-size: 1.077em;
    display: inline-block;
}

.proyect-item-title:hover{
    color: var(--clr-primary-hover);
    text-decoration: underline;
}

.proyectItemDescDark{
    color: var(--clr-font-desc);
}

.proyect-item-tech{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding-bottom: 1.2em;
}

.widget-icon-tech{
    display: flex;
    align-items: center;
    gap: .3em;
    background-color: var(--bg-card-tech);
    border-radius: .5em;
    padding: .15em .8em;
}

.widget-icon-tech > p{
    font-size: .84em;
    color: var(--clr-primary);
}

.proyect-icon-wrapper{
    display: flex;
    gap: .5em;
    padding-block: .6em;
    transition: var(--trans-ms3);
}

.proyect-icon-wrapper:hover{
    background-color: #00c3ff15;
}

.pro-icon-link{
    color: var(--clr-primary);
    border-radius: var(--border);
    display: flex;
    align-items: center;
    gap: .5em;
    padding-inline: .5em;
    font-size: .9em;
}

.pro-icon-link:hover{
    background-color: var(--bg-icon-btn);
}

/* port-challenges-wrapper */
.port-challenges-wrapper{
    padding-top: 5em;
}

.port-challenges-desc{
    color: var(--clr-font-desc);
    font-weight: 500;
    margin-top: .2em;
}

.port-challenges-link{
    color: var(--clr-primary);
    margin-bottom: .8em;
    display: block;
}

.proyect-item-link-chal{
    color: var(--clr-primary);
    font-size: .95em;
    margin-top: .5em;
    display: inline-block;
}

.proyect-frontend-mentor{
    border: 2px dashed var(--clr-dashed-border-lt);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8em;
    padding: 3em;
    position: relative;
}

.proyect-frontend-mentor::before{
    content: 'you can visit my profile on frontent mentor!';
    position: absolute;
    top: 0;
    right: 0;
    padding: .3em .8em;
    color: var(--clr-font-light);
    background-color: var(--bg-outline-light);
    border-radius: var(--border);
    transform-origin: top right;
    transform: scale(0);
    font-size: .9em;
    transition: var(--trans-ms3);
    margin: .5em;
}

.proyect-frontend-mentor:hover::before{
    transform: scale(1);
}

.beforeFMDK:before{
    color: var(--clr-font-dark);
    background-color: var(--bg-outline-dark);

}

.proyect-frontend-mentor:hover{
    cursor: pointer;
}

.proyectFMDark{
    border-color: var(--clr-dashed-border-dk);
    border-radius: .5em;
}

.iconFM{
    width: 3em;
}

.proyect-frontend-mentor-desc{
    color: var(--clr-font-desc);    
}

/* port-form-wrapper */
.port-form-wrapper{
    background-color: var(--bg-outline-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    padding-block: 3em;
}

.formWrapperDark{
    background-color: var(--bg-outline-dark);
}

/* port-form-left */

.port-form-left{
    flex: 1;
}

.form-left-title{
    font-size: 2em;
}

:is(.form-left-desc, .port-form-left-email){
    color: var(--clr-font-desc);
    font-weight: 500;
}

.port-form-left-social{
    display: flex;
    gap: .5em;
    margin-top: 1em;
}

.socialDark{
    color: var(--clr-font-dark);
}

.iconReply{
    color: var(--clr-primary);
    margin-right: .2em;
    color: var(--clr-primary);
}

.port-form-mobile{
    display: none;
}

/* port-form-right */
.port-form-right{
    flex: 1.1;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    background-color: var(--bg-form-light);
    border-radius: var(--border);
}

.formDark{
    background-color: var(--bg-form-dark);
}

:is(.form-input, .form-area){
    padding: .35em .5em;
    border: 1px solid var(--clr-border-input-lt);
    border-radius: var(--border);
    color: var(--clr-input-lt);
    position: relative;
}

:is(.form-input, .form-area)::placeholder{
    color: var(--clr-gray);
}

:is(.form-input, .form-area):hover{
    background-color: var(--hover-input-lt);
}

:is(.form-input, .form-area):focus{
    background-color: var(--focus-input-lt);
}

.formFieldsDark{
    color: var(--clr-input-dk);
    border: 1px solid var(--clr-border-input-dk);
}

.formFieldsDark:hover{
    background-color: var(--hover-input-dk);
}

.formFieldsDark:focus{
    background-color: var(--focus-input-dk);
}

.form-area{
    height: 12em;
}

.form-btn{
    background-color: var(--clr-primary);
    padding: .35em .5em;
    border-radius: var(--border);
    color: var(--clr-white);
    font-weight: 500;
    margin-top: .5em;
}

/* footer */
.port-footer-wrapper{
    border-top: 1px solid var(--clr-primary);
    padding-block: 2em;
}

.footer-name{
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--bg-outline-light);
    display: inline;
    padding: .1em .3em;
    color: var(--clr-font-cyan);
    border-radius: .3em;
}

.footerNameDark{
    background-color: var(--bg-outline-dark);
}

.footer-desc{
    color: var(--clr-font-desc);
    font-weight: 500;
    font-size: .95em;
    margin-top: .4em;
    margin-bottom: 1em;
}

:is(
    .footer-desc-react,
    .footer-desc-clear-css,
    .footer-desc-heebo
    ){
    color: var(--clr-font-cyan);
}

.footer-link-wrapper{
    display: flex;
    align-items: center;
    gap: .4em;
}

.footer-desc-link{
    font-size: .95em;
}

.footer-link{
    background-color: var(--bg-card-tech);
    padding: .25em .5em;
    border-radius: var(--border);
    font-size: .85em;
    transition: var(--trans-ms3);
}

.footerLinkDark{
    color: var(--clr-font-dark);
}

.footer-link:hover{
    background-color: var(--clr-spotify);
}  

/* media queries */

@media screen and (max-width:1650px) {
    .port-header-wrapper{
        padding-left: 9em;
    }
    
    :is(
        .port-hero-wrapper, 
        .port-about-content-wrapper, 
        .port-proyects-wrapper, 
        .port-challenges-wrapper, 
        .port-form-wrapper,
        .port-footer-wrapper
    ){
        padding-right: 9em;
    }

}

@media screen and (max-width:1500px) {
    .port-header-wrapper{
        padding-left: 8em;
    }
    
    :is(
        .port-hero-wrapper, 
        .port-about-content-wrapper, 
        .port-proyects-wrapper, 
        .port-challenges-wrapper, 
        .port-form-wrapper,
        .port-footer-wrapper
    ){
        padding-right: 8em;
    }

    .port-form-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .port-form-right{
        width: 100%;
    }


    .port-form-left-contact-widgets-wrapper{
        display: none;
    }

    .port-form-left{
        margin-bottom: 1.5em;
    }

    .port-form-mobile{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: .9em;
        flex-wrap: wrap;
        margin-top: 1.1em;
    }

    .port-form-left-social{
        margin: 0;
    }

    :is(.port-proyects-list, .port-challenges-list){
        grid-template-columns: repeat(1, 1fr);
    } 

    .proyect-item{
        flex-direction: row;
        border-radius: 0%;
    }

    .proyect-img-wrapper{
        flex: 1;
        background-color: transparent;
        border-bottom: none;
    }
    
    .proyect-img{
        object-fit: contain;
    }

    .proyect-item-desc-wrapper{
        flex: 2;
    }

    .proyect-img-title-wrapper{
        display: none;
    }

    .proyect-img-wrapper:hover > .proyect-img{
        transform: scale(1);
    }
}

@media screen and (max-width:1200px) {
    .port-header-wrapper{
        padding-left: 6.5em;
    }
    
    :is(
        .port-hero-wrapper, 
        .port-about-content-wrapper, 
        .port-proyects-wrapper, 
        .port-challenges-wrapper, 
        .port-footer-wrapper
    ){
        padding-right: 6.5em;
    }

}

@media screen and (max-width:1100px) {
    :is(
        .port-header-wrapper,
        .port-hero-wrapper, 
        .port-about-content-wrapper, 
        .port-proyects-wrapper, 
        .port-challenges-wrapper, 
        .port-footer-wrapper
    ){
        padding-inline: 2em;
    }

    .app-container{
        flex-direction: column;
    }

    :is(.back-bubble, .back-bubble2){
        display: block;
    }

    .cursor-track{
        display: none;
    }

    :is(.port-logo-desc,
        .port-logo-desc2){
        display: none;
    }

    :is(.port-navbar-wrapper, .port-widgets-wrapper){
        display: none;
    }

    .port-navbar-link::before{
        padding: 0;
    }

    .listMobile{
        display: block;
        font-size: 1.5em;
    }
    
    .port-navbar-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5em;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        transform: translatex(200%);
        background-color: var(--bg-navbar-mobile-lt);
        transition: var(--trans-ms5);
    }
    
    .navBarMobileActive{
        box-shadow: 0 0 0 500vmax rgba(0, 0, 0, .3);
        transform: translatex(0);
        transform-origin: right;
    }

    .portNavbarMobile{
        background-color: var(--bg-navbar-mobile-dk);
    }

    .closeIcon{
        color: var(--clr-primary);
        font-size: 1.5em;
    }

    .port-navbar-mobile-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
    }

    .port-navbar-mobile-social{
        display: flex;
        align-items: center;
        gap: .5em;
    }

    :is(.port-header-wrapper, .port-hero-wrapper){
        padding-block: 3.5em;
    }

    .port-hero-wrapper{
        height: 100vh;
        padding-bottom: 0;
        padding-top: 10em;
    } 

    .port-header-wrapper{
        flex-direction: row;
        align-items: center;
        padding-bottom: 2.5em;
        border-bottom: 1px solid var(--clr-primary);
        border-right: none;
        position: fixed;
        width: 100%;
        height: auto;
        backdrop-filter: blur(5px);
    }

    .port-widgets-wrapper{
        margin-top: 1em;
    }

    .hero-me-presentation{
        text-align: center;
    }

    .port-hero-top{
        flex-direction: column-reverse;
        gap: 2em;
    }

    .about-content{
        width: 100%;
    }

    .port-form-right{
        flex: .8;
    }

    .port-form-wrapper{
        padding-inline: 15em;
    }

    .cursor-track{
        display: none;
    }
}

@media screen and (max-width:950px) {
    .port-form-wrapper{
        padding-inline: 10em;
    }
}

@media screen and (max-width:820px) {
    .port-form-wrapper{
        padding-inline: 8em;
    } 

    .port-navbar-mobile{
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .port-form-wrapper{
        padding-inline: 7em;
    }
}

@media screen and (max-width:550px) {
    .port-form-wrapper{
        padding-inline: 2em;
    }

    .about-certificate-img{
        width: 18em;
    }

    .proyect-item{
        flex-direction: column;
    }

    .proyect-img-wrapper{
        flex: auto;
    }

    .port-logo-name{
        font-size: 1.7em;
    }

    .hero-img-wrapper{    
        width: 18em;
        height: 18em;
    }

    .description{
        margin-top: .55em;
    }
}